*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100vw;
    height: 100vh;
}
.m-t-10{
    margin-top: 10px;
}
.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
label{
    display: inline-block;
}
input[type=submit]{
    padding: 2px 15px;
    background-color: rgb(4, 198, 4);
    border: 0;
}
input[type=text]{
    padding: 4px ;
}